<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error processing the template</title>
    <style>
      *,
      *:before,
      *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html,
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
        background-color: #FFF;
        text-rendering: optimizeLegibility;
        -webkit-text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }

      body {
        font-size: 14px;
        line-height: 20px;
        padding: 40px;
      }

      h1 {
        font-size: 16px;
        color: #B00020;
      }

      pre {
        background-color: #FFD5DD;
        margin: 20px 0;
        padding: 20px;
        white-space: pre-wrap;
        border-radius: 8px;
      }

      a {
        color: #0366d6;
      }
    </style>
  </head>
  <body>
    <h1>Error processing the template</h1>
    <pre><code>{{ errorDescription }}</code></pre>
    <p>This screen is only visible in development. It will no appear if the theme crashes in production.</p>
  </body>
</html>
